/* FONT INITALISATION */
@font-face {
  font-family: "Oswald";
  src: url("Google fonts/Oswald-VariableFont_wght.ttf");
  display: block;
}
@font-face {
  font-family: "Syne";
  src: url("Google fonts/Syne-VariableFont_wght.ttf");
  display: block;
}
@font-face {
  font-family: "Spartan";
  src: url("Google fonts/LeagueSpartan-VariableFont_wght.ttf");
}
/* GLOBAL STYLING BEGINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--core-font), sans-serif;
}
:root {
  --core-font: "Spartan";
  --Representaive-font:  "Syne";
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 20px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
a {
  font-size: 1.3rem;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.2s ease;
  background-color: white;
  cursor: pointer;
}
button.white {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 13px 18px;
  color: white;
  border: 1px solid white;
  outline: none;
  transition: 0.2s ease;
  background-color: transparent;
  cursor: pointer;
}
body {
  width: 100%;
}
/* HEADER START */ 
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
#navbar a {
  text-decoration: none;
  color: #1a1a1a;
  transition: 0.3s ease;
  position: relative;
}
#navbar a:hover,
#navbar a.active {
  color: #088178;
  transition: 0.3s ease-in-out;
}
#navbar a.active::after,
 #navbar a:hover::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-radius: 5px;
}
.cart {
  color: black;
}
.hamburger {
  display: none;
}
#close {
  display: none;
}
/* HOME PAGE */
#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
  font-family: var(--Representaive-font);
}
#hero h2 {
  font-family: var(--Representaive-font);
}
#hero h1 {
  color: #088178;
  font-family: var(--Representaive-font);
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
/* FEATURE SECCTION */
#feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#feature .fe-box {
  text-align: center;
  width: 200px;
  height: 220px;
  padding: 25px 15px;
  border: 2px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  margin-top: 15px;
  font-size: 0.95rem;
  display: inline-block;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* SHOP PAGE */
#product1 {
  text-align: center;
}
#product1 h2 {
  font-size: 3.5rem;
}
#product p {
  font-size: 2rem;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 20px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  position: relative;
}
#product1 .pro:hover {
    box-shadow: 20px 10px 15px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .description {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .description span {
  color: #606063;
  font-size: 15px;
}
#product1 .pro .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
}
#product1 .pro .description i {
  font-size: 20px;
  color: rgb(243, 181, 25)
}
#product1 .pro .description h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 38px;
  height: 35px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: white;
  font-size: 1.6rem;
}
#banner h2 {
  color: white;
  font-size: 3.2rem;
  padding: 10px 0;
}
#banner button:hover {
 background-color: #088178;
 color: white;
}
/* SM BANNER */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b17.jpg");
  min-width: 580px;
  width: 48%;
  height: 55vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}
#sm-banner h4 {
  color: white;
  font-weight: 300;
  font-size: 1rem;
} 
#sm-banner h2 {
  color: white;
  font-size: 2.8rem;
  font-weight: 800;
}
#sm-banner span {
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
  display: inline;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 2.2rem;
}
#banner3 h3 {
  color: crimson;
  font-weight: 800;
  font-size: 1.4rem;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2_1 {
  background-image: url("img/banner/b4.jpg");

}
#banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");
}
#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("img/banner/b14.png");
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-color: #041e42;
  height: 30vh;
}
#newsletter h4 {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}
#newsletter p {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 1rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .normal {
  background-color: #088178;
  color: white;
  font-size: 1.35rem;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* FOOTER */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .img-logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 1.7rem;
  padding-bottom: 20px;
}
footer p {
  font-size: 1.3rem;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 1.3rem;
  color: #222;
  text-decoration: none;
  margin-bottom: 10px;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0px 15px 0px;
}
footer .follow a:hover {
  color: #088178;
}
.copyright p{
  text-align: center;
  width: 100%;
}
/* SHOP PAGE */
#page-header {
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: white;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination button {
  background-color: #088178;
  padding: 17px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
/* SINGLE PRODUCT */
#pro-details {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  cursor: pointer;
  flex-basis: 24%;
}
#pro-details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#pro-details .single-pro-details h6 {
  font-size: 1.5rem;
}
#pro-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
  font-size: 2rem;
}
#pro-details .single-pro-details h2 {
  font-size: 26px;
}
#pro-details .single-pro-details select {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
}
#pro-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  text-align: center;
  outline: none;
}
#pro-details .single-pro-details .Ad-to-cart {
  background-color: #088178;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 13px 25px;
  font-size: 1.35rem;
}
#pro-details .single-pro-details .prod-d {
  font-size: 1.5rem;
  text-align: justify;
  color: #465b52;
  line-height: 1.6;
}

/* BLOG HEADER */
#page-header.blog-header {
  background: url("img/banner/b19.jpg");
  height: 40vh;
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
  width: 45%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
#blog .blog-details{
  width: 50%;
}
#blog .blog-details a{
  width: 50%;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
#blog .blog-details a::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -60px;
  height: 2px;
  width: 50px;
  background-color: black;
}
#blog .blog-details a:hover {
  color: #088178;
  transition: 0.3s ease;
}
#blog .blog-details a:hover::after {
  color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 4.5rem;
  font-weight: 600;
  color: #c9c9c9;
  z-index: -9;
}



@media(max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    width: 400px;
    background-color: #E3E6F6;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    overflow-y: auto;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar a {
    margin-bottom: 25px;
  }
  .hamburger  {
    display: inline-block;
  }
  .hamburger  {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border: none;
    background-color: white;
  }
  .cart {
  font-size: 1.5rem;
  margin-right: 15px;
  }
  #close {
    color: black;
    font-size: 2rem;
    display: block;
  }
  /* HERO SECTION */
  #hero {
  height: 70vh;
  background-position: top 30% right 30%;
  padding: 0 80px;
  }
  #feature {  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* replaces margin */
  justify-content: center;
}

  #feature .fe-box {
    margin: 15px 15px;
  }
   /*FEATURES SECTION */
   #product1 .pro-container {
      justify-content: center;
   }
   #product1 .pro {
    margin: 15px;
   }
   /* CTA */
   #banner {
    height: 40vh;
   }
   #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
   }
   #banner3 {
    padding: 0 40px;
   }
   #banner3 .banner-box {
    width: 28%;
   }
   #newsletter .form {
    width: 70%;
   }
   /* MOBILE SCREEN */
   @media(max-width: 477px) {
    .section-p1 {
      padding: 20px;
    }
    #navbar {
      padding: 10px 30px;
    }
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    #hero {
      padding: 0 20px;
      background-position: 55%;
    }
    #feature {
       display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      justify-content: space-between;
    }
    #feature .febox {
     width: 155px;
     margin: 0 0 15px 0;
    }
    #product1 .pro {
      width: 100%;
    }
    #banner {
      height: 40vh;
    }
    #sm-banner .bannerbox {
      height: 40vh;
    }
    #sm-banner .banner-box2_1 {
      margin-top: 20px;
    }
    #banner3 {
      padding: 0 20px;
    }
    #banner3 .banner-box {
      width: 100%;
    }
    #newsletter {
      padding: 40px 20px;
    }
    #newsletter .form{
      width: 100%;
    }
   }
   /* SINGLE PRODUCT */
   #pro-details {
    display: flex;
    flex-direction: column;
   }
   #pro-details .single-pro-image {
    width: 100%;
    margin-right: 0px;
   }
   #pro-details .single-pro-details {
    width: 100%;
   }
   /* BLOG PAGE */
   #blog {
    padding: 100px 20px 0px 20px;
   }
   #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   } 
   #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
   }
   #blog .blog-details  {
      width: 100%;
   }
}
